{% extends 'base.html' %}
{% load static %}

{% block title %}
    Creating a Recipe! - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <!-- <header>
        <div>
            <nav>
                <a href="{% url 'recipe_list' %}" id="nav-a">Main page</a>
            </nav>
        </div>
    </header> -->
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
