{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block nav %}
<a href="{% url 'edit_recipe' recipe_object.id %}" id="nav-a">Edit recipe</a>
{% endblock nav%}

{% block content %}
    <!-- <header>
        <div>
            <nav>
                <a href="{% url 'recipe_list' %}" id="nav-a">Main page</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'my_recipe_list' %}" id="nav-a">My recipes</a>
                    <a href="{% url 'create_recipe' %}" id="nav-a">Create a Recipe</a>
                    <a href="{% url 'edit_recipe' recipe_object.id %}" id="nav-a">Edit recipe</a>
                    <bold id="nav-a">Hello, {{ user.username }}</bold>
                    <a href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}" id="nav-a">Sign Up</a>
                    <a href="{% url 'user_login' %}" id="nav-a">Login</a>
                {% endif %}
            </nav>
        </div>
    </header> -->
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p>{{ recipe_object.created_on|date:"F d, Y"  }}</p>
        <p>
            <img src="{{ recipe_object.picture }}" alt="serving tray with 6 tacos with sauces in smaller dishes with sliced limes taken from above">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
        </p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th><h3>Amount</h3></th>
                    <th><h3>Food item</h3></th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
                <!-- <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5 cups</td>
                    <td>Cotija cheese</td>
                </tr> -->
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
            <!-- <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li> -->
        </ol>
    </main>
{% endblock content %}
