{% extends 'base.html' %}
{% load static %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <!-- <header>
        <nav class="nav-a">
            <a href="{% url 'recipe_list' %}" id="nav-a" >Main Page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}" id="nav-a">My recipes</a>
                <a href="{% url 'create_recipe' %}" id="nav-a" >Create a Recipe</a>
                <bold id="nav-a">Hello, {{ user.username }}</bold>
                <a href="{% url 'user_logout' %}" id="nav-a">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}" id="nav-a">Sign Up</a>
                <a href="{% url 'user_login' %}" id="nav-a">Login</a>
            {% endif %}
        </nav>
    </header> -->
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="four-columns">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}">
                <div>4.3 stars</div>
                <p>{{ recipe.created_on|date:"F d, Y"  }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
