@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: fixed;
    background-color: #00274C;
    color: #FFCB05;
    padding: 1em;
}

html {
    background-color: #FCFBF4;
}

nav {
    /* font: "Oswald"; */
    padding: 16px;
    /* padding-left: 2em; */
    color: #FFCB05;
    text-wrap: nowrap ;
}

main {
    position: static;
    min-height: 100vh;
    padding: 16px;

}

body {
    padding-bottom: 32px;
    margin: 0px;
    padding: 0px;
}

figcaption {
    padding: 0px;
    margin-top: 0px;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

h1 {
    margin-top: 100px;
    color: #00274D;
}

a:link {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

a:visited {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

a:hover {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

a:active {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

h3 > a {
    color: #00274C;
}

footer {
    /* display: grid; */
    font-family: 'Oswald', sans-serif;
    background-color: #00274C;
    color: #FFCB05;
    padding: 2em;
    position: fixed;
    height: 2em;
    bottom: 0;
    width: 100%;
}

tr:nth-child(even) {
   background-color: lightblue;
}

#nav-a {
    font-family: 'Oswald', sans-serif;
    /* font-weight: bold; */
    font-size: 18px;
    color: #FFCB05;
    padding: 1em;
}

.four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, 4fr) */
    flex-flow: row wrap;
}

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
}

.container-child {
    border: 1px solid red;
}
