{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <div>
                <nav>
                    <a href="{% url 'recipe_list' %}" id="nav-a">Home</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'my_recipe_list' %}" id="nav-a">My recipes</a>
                        <a href="{% url 'create_recipe' %}" id="nav-a">Create a Recipe</a>
                        {% block nav %}
                        {% endblock nav %}
                        <bold id="nav-a">Hello, {{ user.username }}</bold>
                        <a href="{% url 'user_logout' %}" id="nav-a">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %}" id="nav-a">Sign Up</a>
                        <a href="{% url 'user_login' %}" id="nav-a">Login</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
